.hpage {
  background: #ce2829;
  width: 100%;
  padding-top: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

h1 {
  text-align: center;
  width: 100%;
  color: #faf7f2;
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 50px;
}

h2 {
  text-align: center;
  width: 100%;
  color: #faf7f2;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-size: 4rem;
}

.section-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.section-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  width: 70%;
}

#order-button-homepage {
  display: flex;
  justify-content: center;
}

#order-pizza {
  border-radius: 50px;
  background: #fdc913;
  color: #292929;
  text-decoration: none;

  display: flex;
  height: 56px;
  padding: 3.734px 50.159px 0.266px 49.641px;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
