.spage {
  background: #ce2829;
  width: 100%;
  padding-top: 2rem;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

h1 {
  text-align: center;
  width: 100%;
  color: #faf7f2;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

h2 {
  text-align: center;
  width: 100%;
  color: #faf7f2;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-size: 4rem;
}
