.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #ce2829;
  color: #ffffff;
  justify-content: center;
}

.header h1 {
  flex-grow: 1;
  width: 100%;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: xx-large;
}
